body {
    color: #ffd900b4;
    background-color: rgba(2, 7, 10, 0.815);
}

p {
    color: peri;
}

ul {
    color: navy;
    background-color: cornflowerblue;
    font-size: 20px;
    
}

ol {
    color: navy;
    background-color: cornflowerblue;
    font-size: 20px;
    
}